#page-header {
    font-size: 20px;
}

#page-subtitle {  
    color: #585858;
    font-size: 12px;    
}

#page-header-container {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-left: 20px;
    min-width: 100%;
    align-items: center;
}

#page-title-wrapper{
    display: flex;
    flex-direction: column;      
}

#add-button {    
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    position: relative;
    margin-left: auto;
    margin-right: 20px;
    font-size: 14px;
    cursor: pointer;
}