#table-row-container{    
    margin-top: 5px;
    margin-bottom: 5px;    
    border-radius: 10px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    position: relative;
    display: inline-flex;    
    align-items: center;    
    flex-direction: row;
    min-width: 100%;
}

.table-row-name {
    position: relative;    
    font-size: 14px;    
    margin-left: 10px;
    flex-shrink: 0;
}